Añadir por consola(pip install):

django
pillow
djangorestframeworks
djongo
dnspython
instalar Node.js
nmp install -g @angular/cli
httpie (solo para probar)
django-cors-headers


front:
npm install
npm install bootstrap --save
npm install jquery --save
npm install popper.js --save
npm install sweetalert2 --save