<br><br><br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-3">
            <a class="" [routerLink]="[ '/proyectos']">
                <div class="card border border-warning rounded">
                    <div class="card-body">
                        <h4 class="card-title text-center h4 text-heimdal">PROYECTOS</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a class="" [routerLink]="[ '/recursos']">
                <div class="card border border-warning rounded">
                    <div class="card-body">
                        <h4 class="card-title text-center h4 text-heimdal">RECURSOS</h4>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
