<div class="container-fluid">
    <table class="table table-striped">
        <thead class="">
            <tr  class="bg-heimdal">
                <th scope="col">#Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">1º Apellido</th>
                <th scope="col">2º Apellido</th>
                <th scope="col">e-Mail</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">001</th>
                <td>Recurso 1</td>
                <td>Recurso 1</td>
                <td>Recurso 1</td>
                <td>recurso1@heimdal.com</td>
                <td>Gru</td>
            </tr>
            <tr>
                <th scope="row">002</th>
                <td>Recurso 2</td>
                <td>Recurso 2</td>
                <td>Recurso 2</td>
                <td>recurso2@heimdal.com</td>
                <td>Dr. Nazario</td>
            </tr>        
            <tr>
                <th scope="row">003</th>
                <td>Recurso 3</td>
                <td>Recurso 3</td>
                <td>Recurso 3</td>
                <td>recurso3@heimdal.com</td>
                <td>Dr. Nazario</td>
            </tr>
            <tr>
                <th scope="row">004</th>
                <td>Recurso 4</td>
                <td>Recurso 4</td>
                <td>Recurso 4</td>
                <td>recurso4@heimdal.com</td>
                <td>Minion</td>
            </tr>
            <tr>
                <th scope="row">005</th>
                <td>Recurso 5</td>
                <td>Recurso 5</td>
                <td>Recurso 5</td>
                <td>recurso5@heimdal.com</td>
                <td>Minion</td>
            </tr>
            <tr>
                <th scope="row">006</th>
                <td>Recurso 6</td>
                <td>Recurso 6</td>
                <td>Recurso 6</td>
                <td>recurso6@heimdal.com</td>
                <td>Minion</td>
            </tr>
            <tr>
                <th scope="row">007</th>
                <td>Recurso 7</td>
                <td>Recurso 7</td>
                <td>Recurso 7</td>
                <td>recurso7@heimdal.com</td>
                <td>Minion</td>
            </tr>
        </tbody>
    </table>
</div>