<div class="container-fluid">
    <table class="table table-striped">
        <thead class="">
            <tr class="bg-heimdal">
                <th scope="col">#Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">1º Apellido</th>
                <th scope="col">2º Apellido</th>
                <th scope="col">e-Mail</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recurso of recursos">
                <th scope="row">{{recurso.codigo}}</th>
                <td>{{recurso.nombre}}</td>
                <td>{{recurso.primer_apellido}}</td>
                <td>{{recurso.segundo_apellido}}</td>
                <td>{{recurso.email}}</td>
                <td>{{recurso.tipo}}</td>
            </tr>
        </tbody>
    </table>
</div>