<nav class="navbar navbar-expand-md navbar-light bg-white border border-warning">
    <div class="container">
        <a class="navbar-brand" routerLink="home">
            <img src="/assets/img/heimdal.png" width="60" height="60" alt="" class="border rounded-circle border-warning">
            <b class="mx-md-2 h1 align-middle letra-heimdal">HEIMDAL</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-md-2" routeLinkActive="active">
                <a class="letra-heimdal" routerLink=""> Bienvenid@ </a>
            </li>
            <li class="nav-item mx-md-2" routeLinkActive="active">
                <a class="letra-heimdal" routerLink=""> Salir </a>
            </li>
            <li class="nav-item mx-md-2" routeLinkActive="active">
                <a class="letra-heimdal" [routerLink]="['/login']"> Login </a>
            </li>
        </ul>
    </div>
</nav>