<div class="container w-75 text-center">
    <div class="card-deck">
        <div class="card border border-warning">
            <div class="card-body">
                <h5 class="card-title letra-heimdal">PROYECTOS</h5>
                <br><br>
            </div>
        </div>
        <div class="card">
            <div class="card-body border border-warning">
                <h5 class="card-title letra-heimdal">RECURSOS</h5>
                <br><br>
            </div>
        </div>
    </div>
</div>